@model Data.Domain.Entities.Medicine

@{
    ViewData["Title"] = "Details";
}
<center>
    <h2>Details</h2>

    <h4>Medicine</h4>
    <hr />
</center>

<div>
    <center>
        <p><b>@Html.DisplayNameFor(model => model.Name)</b> : @Html.DisplayFor(model => model.Name)</p>
        <p><b>@Html.DisplayNameFor(model => model.Prospect)</b> : @Html.DisplayFor(model => model.Prospect)</p>
    </center>
</div>
<div>
    <center>
        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
        }
        <a asp-action="Index">Back to List</a>
    </center>
</div>
