@model Data.Domain.Entities.Medicine

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IMedicineService _service

@{
    ViewData["Title"] = "Medicine - Details";
}
<div class="General_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div>
        <p><b>@Html.DisplayNameFor(model => model.Name):</b> <name>@Html.DisplayFor(model => model.Name)</name></p>
        <p><b>@Html.DisplayNameFor(model => model.Prospect):<br /></b> @Html.DisplayFor(model => model.Prospect)</p>
        <p>
            <b>Additional files:</b> @foreach (var file in _service.GetNamesOfFiles(Model.Id))
        {
            using (Html.BeginForm("Download", "Medicines", new { medicineId = Model.Id, fileName = @file }, FormMethod.Post, null, new { }))
            {
                    <button class="button_download">@file</button>
                }
            }
        </p>
    </div>
    <div>
        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
</div>