@model IEnumerable<Data.Domain.Entities.Medicine>

@{
    ViewData["Title"] = "Index";
}

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IMedicineService _service

<center>
    <h2>Index</h2>
</center>
@if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
{
    <center>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </center>
}

<center>
    <input id="SearchByName" type="text" placeholder="INSERT ANYTHING" />
    <div id="ResultForSearch">
    </div>
</center>
<div class="talbe_remake">
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Name)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Prospect)
                    </center>
                </th>
                <th>
                    <center>
                        <p>Additional Files:</p>
                    </center>
                </th>
                @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
            {
                    <th>
                        <center>
                            <p>Operations</p>
                        </center>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @{int NoElement = 0; }
            @foreach (var item in Model)
            {
                <tr id="Element_@(NoElement++)">
                    <td>
                        <center>
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => item.Prospect)
                        </center>
                    </td>

                    <td>
                        @foreach (var file in _service.GetNamesOfFiles(item.Id))
                        {
                            using (Html.BeginForm("Download", "Medicines", new { medicineId = item.Id, fileName = @file }, FormMethod.Post, null, new { }))
                            {
                                <button>@file</button>
                            }
                        }
                    </td>
                    @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                {
                        <td>
                            <center>

                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                                <a asp-action="Details" asp-route-id="@item.Id">| Details |</a>

                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                            </center>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>


<input type="hidden" id="CurrentIdPage" value="1" />

@if (_service.GetNumberOfPagesForMedicines() > 1)
{
    <center>
        <div id="Pages">
            <input type="button" id="No_Page_<<" value="<<" />
            <input type="button" id="No_Page_<" value="<" />
            <b id="...1" >...</b>
            @for (int NrOfPage = 1; NrOfPage <= @_service.GetNumberOfPagesForMedicines(); NrOfPage++)
            {
                <input type="button" id="No_Page_@NrOfPage" value="@NrOfPage" />
            }
            <b id="...2">...</b>
            <input type="button" id="No_Page_>" value=">" />
            <input type="button" id="No_Page_>>" value=">>" />
        </div>
    </center>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

         /*setInterval(function () {
             runSearchByCertainString();
         }, 350);  // once every 350ms, re-run this sequence
        */
        SearchByName.addEventListener("input", function (e) {
            runSearchByCertainString();
        });

        var currentlink = window.location.href;
        var currentLinkSplit = currentlink.split('?');
        var actualPageNo = 0;
        if (currentLinkSplit.length == 1) {
            actualPageNo = 1;
        }
        else {
            actualPageNo = currentLinkSplit[1].split('=')[1];
        }

        var MaxPages =@_service.GetNumberOfPagesForMedicines();
        if (MaxPages > 1) {

           /* document.getElementById("...1").style.display = "none";


            if (MaxPages<=4) {
                document.getElementById("...2").style.display = "none";
                document.getElementById("No_Page_>>").style.display = "none";
                document.getElementById("No_Page_<<").style.display = "none";
            }
            else {
                for (var i = 4; i <=MaxPages;i++)
                    document.getElementById("No_Page_" + i).style.display = "none";
            }*/
            document.getElementById("...1").style.display = "none";

            if (MaxPages <= 4) {
                document.getElementById("...2").style.display = "none";
                document.getElementById("No_Page_>>").style.display = "none";
                document.getElementById("No_Page_<<").style.display = "none";
            }
            else {
                for (var i = 4; i <= MaxPages; i++) {
                    document.getElementById("No_Page_" + i).style.display = "none";
                }
            }

            if (MaxPages > 4) {
                if (parseInt(actualPageNo) >= 3) {
                    document.getElementById("...1").style.display = "inline";
                }

                else {
                    document.getElementById("...1").style.display = "none";

                }

                if (parseInt(actualPageNo) >= MaxPages - 1) {
                    document.getElementById("...2").style.display = "none";

                }
                else {
                    document.getElementById("...2").style.display = "inline";
                }



                if (actualPageNo != 1 && actualPageNo != MaxPages) {
                    for (var i = 1; i <= MaxPages; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "none";
                    }

                    for (var i = parseInt(actualPageNo) - 1; i <= parseInt(actualPageNo) + 1; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "inline";
                    }
                }
                else {
                    if (actualPageNo == MaxPages) {
                        for (var i = 1; i <= MaxPages; i++) {

                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "none";
                        }

                        for (var i = MaxPages - 2; i <= MaxPages; i++) {
                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "inline";
                        }

                    }
                }
            }
        }

        function runSearchByCertainString() {
            var searchedText = $('#SearchByName').val();

            if (!searchedText) {
                searchedText = "null";
            }

            $.ajax({

                type: "GET",
                url: '@Url.Action("SearchForMedicines", "Medicines")',
                contentType: "application/json; charset=utf-8",
                data: { text: searchedText},
                dataType: "json",
                success: function (rez) {


                    if (rez.length > 0) {
                        var shouldReturn = '<table class="table"><thead><tr><th>Name</th><th>Prospect</th></tr></thead><tbody>';
                        for (i = 0; i < rez.length; i++) {
                            var name = rez[i].name;

                            var prospect = rez[i].prospect;
                            if (!prospect) {
                                prospect = "";

                            }
                            shouldReturn = shouldReturn + "<tr><td>" + '<a href="/Medicines/Details/' + rez[i].id + '">' + name + '</a>' + "</td>" + "<td>" + prospect + "</td>"+"</tr>"
                        }
                        shouldReturn = shouldReturn + "</tbody></table>"

                        $('#ResultForSearch').html(shouldReturn);
                    }
                    if (rez.length == 0 || searchedText == "" || searchedText==null) {
                        $('#ResultForSearch').html("");
                    }

                }
            });

        }

        var max = @_service.GetAllMedicines().Count();

        for (var i = 5; i < max; i++) {
            document.getElementById("Element_" + i).style.display = "none";
        }

        for (var i = 0; i < 5; i++) {
            document.getElementById("Element_" + i).style.display = "table-row";
        }

        $(document).ready(function () {

            $('[id*=No_Page_]').click(function () {

                var pageNumber = this.id.substring(8);

                if (pageNumber == "<<") {
                    pageNumber = 1;

                    for (var i = 1; i <=@_service.GetNumberOfPagesForMedicines();i++){
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "none";
                    }

                    for (var i = 1; i <=3;i++){
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "inline";
                    }

                }
                if (pageNumber == ">>") {
                    pageNumber =@_service.GetNumberOfPagesForMedicines();
                    for (var i = 1; i <=pageNumber;i++){
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "none";
                    }

                    for (var i = pageNumber - 2; i <= pageNumber;i++){
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "inline";
                    }
                }

                if (pageNumber == "<") {
                    pageNumber = parseInt($('#CurrentIdPage').val().valueOf());
                    pageNumber = pageNumber - 1;
                    if (pageNumber < 1) {
                        pageNumber = 1;

                    }
                }
                if (pageNumber == ">") {
                    pageNumber = parseInt($('#CurrentIdPage').val());
                    pageNumber = pageNumber + 1;
                    if (pageNumber >@_service.GetNumberOfPagesForMedicines()){
                        pageNumber =@_service.GetNumberOfPagesForMedicines();

                    }
                }


                var start = (pageNumber - 1) * 5;
                var stop = start + 5;


                if (stop > max) {
                    stop = max;
                }

                for (var i = 0; i < max; i++) {
                    document.getElementById("Element_" + i).style.display = "none";
                }

                for (var i = start; i < stop; i++) {
                    document.getElementById("Element_" + i).style.display = "table-row";
                }

                document.getElementById("CurrentIdPage").value = pageNumber;

                if (@_service.GetNumberOfPagesForMedicines()>4) {
                    if (parseInt(pageNumber) >= 3) {
                        document.getElementById("...1").style.display = "inline";
                    }

                    else {
                        document.getElementById("...1").style.display = "none";

                    }

                    if (parseInt(pageNumber) >=@_service.GetNumberOfPagesForMedicines() -1) {
                        document.getElementById("...2").style.display = "none";
                    }
                    else {
                        document.getElementById("...2").style.display = "inline";
                    }



                    if (pageNumber != 1 && pageNumber !=@_service.GetNumberOfPagesForMedicines()){
                        for (var i = 1; i <=@_service.GetNumberOfPagesForMedicines();i++) {
                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "none";
                        }

                        for (var i = parseInt(pageNumber) - 1; i <= parseInt(pageNumber) + 1; i++) {
                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "inline";
                        }
                    }
                }
            });
        });

    </script>
}