@model IEnumerable<Data.Domain.Entities.Medicine>

@{
    ViewData["Title"] = "Index";
}
<center>
    <h2>Index</h2>
</center>
@if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
{
    <center>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </center>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Name)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Prospect)
                    </center>
                </th>
                <th>
                    <center>
                        <p>Operations</p>
                    </center>
                </th>
        </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Name)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Prospect)
                    </center>
                </td>
                <td>
                    <center>
                        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">| Delete</a>
                        }
                    </center>
                </td>
            </tr>
    }
    
    </tbody>
</table>
