@model IEnumerable<Data.Domain.Entities.Medicine>

@{
    ViewData["Title"] = "Index";
}

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IMedicineService _service

<center>
    <h2>Index</h2>
</center>
@if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
{
    <center>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </center>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Name)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Prospect)
                    </center>
                </th>
                <th>
                    <p>Additional Files:</p>
                </th>
                <th>
                    <center>
                        <p>Operations</p>
                    </center>
                </th>
        </tr>
    </thead>
    <tbody>
    @{int NoElement = 0; }
    @foreach (var item in Model)
    {
            <tr id="Element_@(NoElement++)">
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Name)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Prospect)
                    </center>
                </td>

                <td>
                    @foreach (var file in _service.GetNamesOfFiles(item.Id))
                    {
                        using (Html.BeginForm("Download", "Medicines", new { medicineId = item.Id, fileName = @file }, FormMethod.Post, null, new { }))
                        {
                                <button>@file</button>
                        }
                    }
                </td>

                <td>
                    <center>
                        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                        @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">| Delete</a>
                        }
                    </center>
                </td>
            </tr>
    }
    
    </tbody>
</table>


<input type="hidden" id="CurrentIdPage" value="1" />

@if (_service.GetNumberOfPagesForMedicines() > 1)
{
    <center>
        @for (int NrOfPage = 1; NrOfPage <= @_service.GetNumberOfPagesForMedicines(); NrOfPage++)
        {
            <input type="button" id="No_Page_@NrOfPage" value="@NrOfPage" />
        }
    </center>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var max = @_service.GetAllMedicines().Count();

        for (var i = 5; i < max; i++) {
            document.getElementById("Element_" + i).style.display = "none";
        }

        for (var i = 0; i < 5; i++) {
            document.getElementById("Element_" + i).style.display = "table-row";
        }

        $(document).ready(function () {

            $('[id*=No_Page_]').click(function () {

                var PgId = $('[id=Id]').val();
                var pageNumber = this.id.substring(8);
                
                var start = (pageNumber-1) * 5;
                var stop = start + 5;

                if (stop > max) {
                    stop = max;
                }

                for (var i = 0; i < max; i++) {
                    document.getElementById("Element_" + i).style.display = "none";
                }

                for (var i = start; i < stop; i++) {
                    document.getElementById("Element_" + i).style.display = "table-row";
                }


                document.getElementById("CurrentIdPage").value = pageNumber;
              
            });
        });

    </script>
}