
@{
    ViewData["Title"] = "Records";
}

@using MediArch.Services.Interfaces
@inject IRecordService record_service
@inject IApplicationUserService service

<div class="General_remake">
    <div class="Centered">
        <br />
        <h2>@ViewData["Title"]</h2>
       
        <a id="Display_Users" class="ft_20 underlined">Users</a> <a class="ft_20">|</a> <a id="Display_Consults" class="ft_20 underlined">Consults</a> <a class="ft_20">|</a> <a id="Display_Questions" class="ft_20 underlined">Questions</a> <a class="ft_20">|</a> <a id="Display_Answers" class="ft_20 underlined">Answers</a>
        <hr />

        <div id="Users" class="talbe_remake_blue vertical_align_middle">
            <h2 class="ft_25">Users</h2>
            <br />
            <table class="table" id="UserTable">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>

                        <th>
                            Name
                        </th>

                        <th>
                            Age
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Cabinet Address
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in record_service.GetAllUsers())
                    {
                        <tr>
                            <td>
                                @item.Role.Replace("MEDIC","DOCTOR").Replace("PACIENT","PATIENT")
                            </td>

                            <td class="text_align_justify">
                                <div class="tooltip_remake">
                                    <b><a asp-action="Details" asp-controller="Account" asp-route-id="@item.Id"><img src="@service.GetProfilePictureLink(item.Id.ToString())" class="navbar_img"> @item.FirstName  @item.LastName</a></b>
                                    <span class="tooltiptext_remake top_53_negative margin_left_110">Registered on @item.CreatedDate</span>
                                </div>
                            </td>
                            <td>
                                <div class="tooltip_remake">
                                    @service.GetAgeOfUser(item.Id)
                                    <span class="tooltiptext_remake top_38_negative margin_left_110">Born in &nbsp;@item.BirthDate.Month/@item.BirthDate.Day/@item.BirthDate.Year</span>
                                </div>
                            </td>

                            <td>
                                @item.PhoneNumber
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CabinetAdress)
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="Account" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>


        <div id="Consults" class="talbe_remake_blue vertical_align_middle">
            <h2 class="ft_25">Consults</h2>
            <br />
            <table class="table" id="UserTable">
                <thead>
                    <tr>
                        <th>
                            Medic
                        </th>

                        <th>
                            Patient
                        </th>

                        <th>
                            Result
                        </th>

                        <th>
                            Medicines
                        </th>

                        <th>
                            Consult Date
                        </th>

                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in record_service.GetAllConsults())
                    {
                        <tr>
                            <td class="text_align_justify text_align_padding_25">
                                @if (service.ApplicationUserExists(@item.MedicId.ToString()))
                                {
                                    <b><img src="@service.GetProfilePictureLink(item.MedicId.ToString())" class="navbar_img"><a asp-action="Details" asp-controller="Account" asp-route-id="@item.MedicId">@service.GetFullNameById(@item.MedicId.ToString())</a></b>
                                }
                                else
                                {
                                <p>Doctor not fount.</p>
                                }
                            </td>

                            <td class="text_align_justify text_align_padding_45">
                                @if (service.ApplicationUserExists(@item.PacientId.ToString()))
                                {
                                    <b><img src="@service.GetProfilePictureLink(item.PacientId.ToString())" class="navbar_img"><a asp-action="Details" asp-controller="Account" asp-route-id="@item.PacientId">@service.GetFullNameById(@item.PacientId.ToString())</a></b>
                                }
                                else
                                {
                                    <p>Patient not found.</p>
                                }
                            </td>

                            <td>
                                @foreach (var line in @item.ConsultResult.CollapseAnswerText().Split("\n"))
                                { @line<br />}
                            </td>

                            <td>
                                @item.Medicines
                            </td>

                            <td>
                                @item.ConsultDate
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="Consults" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div id="Questions" class="talbe_remake_blue vertical_align_middle">
            <h2 class="ft_25">Questions</h2>
            <br />
            <table class="table" id="UserTable">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>

                        <th>
                            Question
                        </th>

                        <th>
                            Created Date
                        </th>

                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in record_service.GetAllQuestions())
                    {
                        <tr>
                            <td class="text_align_justify text_align_padding_45">
                                <b><img src="@service.GetProfilePictureLink(item.UserId.ToString())" class="navbar_img"><a asp-action="Details" asp-controller="Account" asp-route-id="@item.UserId">@service.GetFullNameById(@item.UserId.ToString())</a></b>
                            </td>

                            <td class="text_align_justify text_align_padding_45">
                                @item.Text
                            </td>

                            <td>
                                @item.CreatedDate
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="Questions" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div id="Answers" class="talbe_remake_blue">
            <h2 class="ft_25">Answers</h2>
            <br />
            <table class="table" id="UserTable">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>

                        <th>
                            Answer
                        </th>

                        <th>
                            Created Date
                        </th>

                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in record_service.GetAllAnswers())
                    {
                        <tr>
                            <td class="text_align_justify text_align_padding_45">
                                @if (service.ApplicationUserExists(@item.UserId.ToString()))
                                {
                                    <b><img src="@service.GetProfilePictureLink(item.UserId.ToString())" class="navbar_img"><a asp-action="Details" asp-controller="Account" asp-route-id="@item.UserId">@service.GetFullNameById(@item.UserId.ToString())</a></b>
                                }
                                else
                                {
                                    <h>User not found</h>

                                }
                            </td>

                            <td class="text_align_justify">
                                @item.Text.CollapseAnswerText()
                            </td>

                            <td>
                                @item.AnswerDate
                            </td>

                            <td>
                                <a asp-action="Details" asp-controller="Answers" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("Consults").style.display = "none";
        document.getElementById("Questions").style.display = "none";
        document.getElementById("Answers").style.display = "none";

        $('[id=Display_Users]').click(function () {
            document.getElementById("Users").style.display = "initial";
            document.getElementById("Consults").style.display = "none";
            document.getElementById("Questions").style.display = "none";
            document.getElementById("Answers").style.display = "none";
        });
        $('[id=Display_Consults]').click(function () {
            document.getElementById("Users").style.display = "none";
            document.getElementById("Consults").style.display = "initial";
            document.getElementById("Questions").style.display = "none";
            document.getElementById("Answers").style.display = "none";
        });
        $('[id=Display_Questions]').click(function () {
            document.getElementById("Users").style.display = "none";
            document.getElementById("Consults").style.display = "none";
            document.getElementById("Questions").style.display = "initial";
            document.getElementById("Answers").style.display = "none";
        });
        $('[id=Display_Answers]').click(function () {
            document.getElementById("Users").style.display = "none";
            document.getElementById("Consults").style.display = "none";
            document.getElementById("Questions").style.display = "none";
            document.getElementById("Answers").style.display = "initial";
        });

        });
</script>