@model IEnumerable<Data.Domain.Entities.Consult>

@using MediArch.Services.Interfaces
@inject IApplicationUserService user_service

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IConsultService consult_service

@{
    ViewData["Title"] = "Consults";
}

<br />
@if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
{
    <a asp-action="Create"><img src="~/images//Heart.png" class="img_logos" title="Press here to add a new Consult! But you have to know the ID's of both Patient and Doctor!'"></a>
}
else
{
    <img src="~/images//Heart.png" class="img_logos">
    <br />
}


<div class="talbe_remake">
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Consult's Date
                </th>

                <th>
                    Medic
                </th>

                <th>
                    Pacient
                </th>
                <th>
                    Result:
                </th>
                <th>
                    Prescription:
                </th>
                <th>
                    Consult's files:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="btn-group dropright">
                            <a class="btn btn-secondary dropdown-toggle dropdown-toggle-split flt_right" data-toggle="dropdown">@Html.DisplayFor(modelItem => item.ConsultDate) </a>
                            <ul class="dropdown-menu special_dropright">
                                @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                                {
                                    <li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                }

                                <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
                                {
                                    <li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                }
                            </ul>
                        </div>
                    </td>

                    <td>
                            @if (user_service.ApplicationUserExists(@item.MedicId.ToString()))
                            {
                                <a asp-action="Details" asp-controller="Account" asp-route-id="@item.MedicId">@user_service.GetFullNameById(item.MedicId.ToString())</a>
                            }
                            else
                            {
                                <p>This medic don't exist in our database anymore</p>
                            }
                    </td>
                    <td>
                        @if (user_service.ApplicationUserExists(@item.PacientId.ToString()))
                        {
                            <a asp-action="Details" asp-controller="Account" asp-route-id="@item.PacientId">@user_service.GetFullNameById(item.PacientId.ToString())</a>
                        }
                        else
                        {
                            <p>This Pacient don't exist in our database anymore</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultResult)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Medicines)
                    </td>
                    <td>
                        @foreach (var file in consult_service.GetNamesOfFiles(item.Id))
                        {
                            using (Html.BeginForm("Download", "Consults", new { consultId = item.Id, fileName = @file }, FormMethod.Post, null, new { }))
                            {
                                <button class="button_download">@file</button>
                            }
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
    <input type="hidden" id="CurrentIdPage" value="1" />

    @if (consult_service.GetNumberOfPagesForConsults() > 1)
    {
        <div class="Centered">
            <input type="button" id="No_Page_<<" value="<<" class="Pagination_Button"/>
            <input type="button" id="No_Page_<" value="<" class="Pagination_Button"/>
            <b id="...1" class="Pagination_Button">...</b>
            @for (int NrOfPage = 1; NrOfPage <= @consult_service.GetNumberOfPagesForConsults(); NrOfPage++)
            {
                <input type="button" id="No_Page_@NrOfPage" value="@NrOfPage" class="Pagination_Button"/>
            }
            <b id="...2" class="Pagination_Button">...</b>
            <input type="button" id="No_Page_>" value=">" class="Pagination_Button"/>
            <input type="button" id="No_Page_>>" value=">>" class="Pagination_Button"/>
        </div>
    }


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">

        $(document).ready(function () {

            var currentlink = window.location.href;
            var currentLinkSplit = currentlink.split('?');
            var actualPageNo = 0;
            if (currentLinkSplit.length == 1) {
                actualPageNo = 1;
            }
            else {
                actualPageNo = currentLinkSplit[1].split('=')[1];
            }

            //console.log(actualPageNo);
            document.getElementById("CurrentIdPage").value = actualPageNo;

             var MaxPages =@consult_service.GetNumberOfPagesForConsults();

            if (MaxPages > 1) {
                document.getElementById("...1").style.display = "none";

                if (MaxPages <= 4) {
                    document.getElementById("...2").style.display = "none";
                    document.getElementById("No_Page_>>").style.display = "none";
                    document.getElementById("No_Page_<<").style.display = "none";
                }
                else {
                    for (var i = 4; i <= MaxPages; i++)
                        document.getElementById("No_Page_" + i).style.display = "none";
                }

                if (MaxPages > 4) {
                    if (parseInt(actualPageNo) >= 3) {
                        document.getElementById("...1").style.display = "inline";
                    }

                    else {
                        document.getElementById("...1").style.display = "none";

                    }

                    if (parseInt(actualPageNo) >= MaxPages - 1) {
                        document.getElementById("...2").style.display = "none";

                    }
                    else {
                        document.getElementById("...2").style.display = "inline";
                    }



                    if (actualPageNo != 1 && actualPageNo != MaxPages) {
                        for (var i = 1; i <= MaxPages; i++) {
                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "none";
                        }

                        for (var i = parseInt(actualPageNo) - 1; i <= parseInt(actualPageNo) + 1; i++) {
                            var id_string = "No_Page_".concat(i);
                            document.getElementById(id_string).style.display = "inline";
                        }
                    }
                    else {
                        if (actualPageNo == MaxPages) {
                            for (var i = 1; i <= MaxPages; i++) {

                                var id_string = "No_Page_".concat(i);
                                document.getElementById(id_string).style.display = "none";
                            }

                            for (var i = MaxPages - 2; i <= MaxPages; i++) {
                                var id_string = "No_Page_".concat(i);
                                document.getElementById(id_string).style.display = "inline";
                            }

                        }
                    }
                }
            }

            $('[id*=No_Page_]').click(function () {

               // var PgId = $('[id=Id]').val();
                var pageNumber = this.id.substring(8);
                //console.log(pageNumber)
                if (pageNumber == "<<") {
                    pageNumber = 1;

                    for (var i = 1; i <= MaxPages; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "none";
                    }

                    for (var i = 1; i <= 3; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "inline";
                    }

                }

                if (pageNumber == ">>") {
                    pageNumber = MaxPages;
                    for (var i = 1; i <= pageNumber; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "none";
                    }

                    for (var i = pageNumber - 2; i <= pageNumber; i++) {
                        var id_string = "No_Page_".concat(i);
                        document.getElementById(id_string).style.display = "inline";
                    }
                }

                if (pageNumber == "<") {
                    pageNumber = parseInt($('#CurrentIdPage').val().valueOf());
                    pageNumber = pageNumber - 1;
                    if (pageNumber < 1) {
                        pageNumber = 1;

                    }
                }
                if (pageNumber == ">") {
                    pageNumber = parseInt($('#CurrentIdPage').val());
                    pageNumber = pageNumber + 1;
                    if (pageNumber > MaxPages) {
                        pageNumber = MaxPages;

                    }
                }

                var currentlink = window.location.href;
                var spl = currentlink.split("/");
                //alert(spl[2])
                var RedirectPage = 'https://'+spl[2]+'@Url.Action("ConsultsPaginated", "Consults")' + '?NoPage=' + pageNumber
                //console.log(RedirectPage)

                document.getElementById("CurrentIdPage").value = pageNumber;
                $.ajax({
                    /* type: 'POST',
                     url: 'Users',
                     data: { noPage: pageNumber },
                     success: function (data) {
                         console.log("Should redirect");
                         console.log(pageNumber)
                     }*/
                }).done(function (data) {
                   // console.log("done")
                    location.replace(RedirectPage);
                });
            });
        });

        </script>
