@model Data.Domain.Interfaces.ServiceInterfaces.Models.ConsultViewModels.ConsultCreateModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "CreateNewConsult";
    var mid = TempData["MId"];
    var pid = TempData["PId"];
    ApplicationUser user = UserManager.Users.SingleOrDefault(x => x.Id == pid.ToString());
}

<div class="General_remake">
    <br />
    <h2>CreateNewConsult</h2>
    <h4>Create New Consult for @user.FirstName @user.LastName (@user.Email)</h4>


    <hr />

    <div class="row_login">
        <div class="Login_labels">
            <form multiple="multiple" runat="server" enctype="multipart/form-data" asp-action="CreateNewConsult">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="MedicId" class="input_remake" value="@mid" type="hidden" />
                    <span asp-validation-for="MedicId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PacientId" class="input_remake" value="@pid" type="hidden" />
                    <span asp-validation-for="PacientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Result:</b>
                    <!--<input asp-for="ConsultResult" class="input_remake" />-->
                    <div class="Centered">
                        <textarea asp-for="ConsultResult"  class="textarea_remake"></textarea>
                    </div>
                    <span asp-validation-for="ConsultResult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>Medicines:</b>
                    <input asp-for="Medicines" class="input_remake" />
                    <span asp-validation-for="Medicines" class="text-danger"></span>
                </div>
                <div class="form-group">
                   <b>Additional Files:</b>
                    <input type="file" multiple="multiple" asp-for="File" class="input_remake" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="button_remake" />
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
