@model IEnumerable<Data.Domain.Entities.Consult>

@using MediArch.Extensions.Interfaces
@inject IApplicationUserService service

@{
    ViewData["Title"] = "Index";
}
<center>
    <h2>Index</h2>
</center>
@if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
{
    
<p>
    <center>
        <a asp-action="Create">Create New</a>
    </center>
</p>

}
<table class="table">
    <thead>
        <tr>
                <th>
                    <center>
                        Medic
                    </center>
                </th>
                <th>
                    <center>
                        Pacient
                    </center>
                </th>
                <th>
                    <center>
                        ConsultDate
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Medicines)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.ConsultResult)
                    </center>
                </th>
            <th>
                <center>
                    Operations
                </center>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <center>
                    <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@item.MedicId">@service.GetFullNameById(item.MedicId.ToString())</a>
                </center>
            </td>
            <td>
                <center>
                    <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@item.PacientId">@service.GetFullNameById(item.PacientId.ToString())</a>
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.ConsultDate)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Medicines)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.ConsultResult)
                </center>
            </td>
            @if (User.IsInRole("Owner") || User.IsInRole("Moderator"))
            {
            <td>
                <center>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">| Delete</a>
                </center>
            </td>
            }
        </tr>
}
    </tbody>
</table>
