@model IEnumerable<Data.Domain.Entities.Consult>

@using MediArch.Data
@inject ApplicationDbContext users

@{
    ViewData["Title"] = "MyConsults";
}

<h2>MyConsults</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Medic
                </th>
                <th>
                    Pacient
                </th>
                <th>
                    ConsultDate
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medicines)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultResult)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @users.Users.FirstOrDefault(x => new Guid(x.Id) == item.MedicId).Email.ToString()
            </td>
            <td>
                @users.Users.FirstOrDefault(x => new Guid(x.Id) == item.PacientId).Email.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultResult)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
