@model IEnumerable<Data.Domain.Entities.Consult>

@using MediArch.Extensions.Interfaces
@inject IApplicationUserService user_service

@using Data.Domain.Interfaces.ServiceInterfaces
@inject IConsultService file_service
@{
    ViewData["Title"] = "MyResults";
}

<h2>MyResults</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Medic
            </th>
            <th>
                Pacient
            </th>
            <th>
                Consult Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultResult)
            </th>
            <th>
                <p>Consult's files:</p>
            </th>
            <th>
                <p>Operations</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@item.MedicId">@user_service.GetFullNameById(item.MedicId.ToString())</a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@item.PacientId">@user_service.GetFullNameById(item.PacientId.ToString())</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultResult)
            </td>
            <td>
                @foreach (var file in file_service.GetNamesOfFiles(item.Id))
                {
                    using (Html.BeginForm("Download", "Consults", new { consultId = item.Id, fileName = @file }, FormMethod.Post, null, new { }))
                    {
                        <button>@file</button>
                    }
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
