@model IEnumerable<Data.Domain.Entities.Consult>

@{
    ViewData["Title"] = "MyResults";
}

<h2>MyResults</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedicId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PacientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medicines)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsultResult)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultResult)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
