@model Data.Domain.Entities.Question

@{
    ViewData["Title"] = "Question - Details";
}
<div class="General_remake">
    <br />
    <h2>@ViewData["Title"]</h2>
    <hr />

    <div>
        <p><b>Created at:</b><br /> @Html.DisplayFor(model => model.CreatedDate)</p>
        <p><b>Topic:<br /></b> @Html.DisplayFor(model => model.Topic)</p>
        <p><b>Question:<br /></b> @Html.DisplayFor(model => model.Text)</p>
        
    </div>

    <br />
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit this Question</a>
        <br>
        <a asp-action="QuestionsPaginated">Go back</a>
    </div>
</div>
