@model IEnumerable<MediArch.Models.ApplicationUser>

@using MediArch.Extensions.Interfaces
@inject IApplicationUserService service

@{
    ViewData["Title"] = "Index";
}
<center>
    <h2>Index</h2>
</center>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    <p>Role</p>
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Email)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.CNP)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.FirstName)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.LastName)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Title)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.CabinetAdress)
                </center>
            </th>

            <th>
                <center>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </center>
            </th>

            <th>
                <center>
                    <p>Opperations</p>
                </center>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <center>
                        @service.DetermineUserRole(item.Id).ToString().ToUpper()
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Email)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.CNP)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Title)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.CabinetAdress)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </center>
                </td>
        
                <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <br>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <br>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>